.basic-notepad-button {
    margin-top: 0px !important;
}

.basic-notepad-button:hover {
    transform: none !important;
}

.edit-page-task {
    background-color: transparent;
    border: none;
}

.project-private {
    font-size: 14px;
}

.project-title {
    text-align: center;
    margin-left: 0px;
}