a {
  color: #000;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.complete-project {
  text-decoration: line-through;
}

.create-new {
    background: none;
    border-color: #38a7e7;
    border-radius: 20px;
    color: black;
    font-family: 'courier';
    margin-left: 50px;
    margin-top: 10px;
}

.create-new:hover {
  background: none;
  background-color: #38a7e7;
  border-width: 3px;
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  color: black;
  transform: translateY(-0.25em);
}

#create-new-project {
  background: transparent;
  border: none;
}

.inline-form {
  display: inline;
  float: right;
}