.notepad-content::before {
  border-left: 2px solid red;
  border-right: 2px solid red;
  content: "";
  display: block;
  float: left;
  height: 80%;
  margin-bottom: 10px;
  margin-left: 40px;
  margin-top: 10px;
  position:absolute;
  width: 6px;
}
  
.notepad-page {
  font-family: courier, monospace;
  font-size: 22px;
  height: 93%;
  margin: auto;
  padding: 0 !important;
  padding-left: 0! important;
  width: 100%;
}

.notepad-page-container {
  background-color: #ffff66;
  background-image: 
    -moz-radial-gradient(2.9% 45%, circle closest-side, #f5f5f5, #f5f5f5 63%, transparent 0%),
    -moz-radial-gradient(3% 45%, circle closest-side, #CCCCCC, #CCCCCC 67.5%, transparent 0%);
  background-size: 100% 25%;
  border: 1px solid #dedede;
  height: 100%;
  margin: auto;
  width: 50%;
}

.notepad-page > li:first-child {
  padding-top: 35px;
}

.notepad-page li {
  border-bottom: 2px solid #38a7e7;
  height: auto;
  list-style: none;
  margin-left: 10px;
  margin-right: 10px;
  min-height: 37px;
  text-transform: capitalize;
}

.notepad-line-item {
  margin-left: 40px;
}

.notepad-line-item:hover {
  cursor: pointer;
}