body {
  background-image: radial-gradient(
    circle at top right,
    #ff06,
    #f06d0600
  );
  height: 100%;
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.centred-text {
  text-align: center;
}

.centred-title {
  margin: auto;
}

.container {
  height: 85%;
  margin: auto;
  width: 100%;
}

.faded-text {
  color: grey;
}

.footer {
  height: 5%;
  margin: auto;
  white-space: nowrap;
  width: 10%;
}

.header {
  height: 10%;
  margin: auto;
  width: 80%;
}

html {
  font-size: 14px;
  height: 100%;
  position: relative;
}

.left-title {
  float: left;
}

main {
  height: 100%;
}

.placeholder-input {
  background-color: transparent;
  border: none;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.notepad-button {
  background: none;
  border-color: #38a7e7;
  border-radius: 20px;
  display: inline-block;
  color: black;
  font-family: 'courier';
  font-size: 0.8rem;
  margin-left: 50px;
  margin-top: 5px;
}

.notepad-button:active {
  background-color: #0000 !important;
}

.notepad-button:hover {
  background: none;
  background-color: #38a7e7;
  border-width: 3px;
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  color: black;
  transform: translateY(-0.25em);
}

.right-title {
  float: right;
}

.sub-container {
  width: 33%;
}