html {
  font-size: 14px;
  height: 100%;
  position: relative;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.header {
  height: 10%;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

body {
  background-image: radial-gradient(
    circle at top right,
    #ff06,
    #f06d0600
  );
  height: 100%;
}

main {
  height: 100%;
}

.container {
  height: 85%;
  margin: auto;
  width: 100%;
}

.footer {
  bottom: 0;
  height: 5%;;
  line-height: 60px;
  position: absolute;
  white-space: nowrap;
  width: 10%;
}

.header {
  height: 10%;
  margin: auto;
  width: 80%;
}

.centred-title {
  margin: auto;
}