@page
@model CreateModel

@Html.AntiForgeryToken()

    <link rel="stylesheet" href="~/css/create.css" />


@Html.HiddenFor(model => model.PageSize)

<div class="notepad-page-container">
    <div class="notepad-content">
        <form id="new-project-form" method="post">
            <ul class="notepad-page">
                <span asp-validation-for="NewProject.ProjectName" class="text-danger notepad-line-item"></span>

                <li>
                    <input asp-for="NewProject.ProjectName" class="notepad-line-item faded-text placeholder-input" 
                        type="text" id="new-project-title" placeholder="Project title..." required />
                </li>

                <li>
                    <input class="notepad-line-item faded-text placeholder-input" id="new-project-task" 
                    type="text" placeholder="New task..."/>
                </li>
                <ul id="project-tasks">
                    @for(Int32 count = 0; count < @Model.PageSize; count++)
                    {
                        <li>
                            <input readonly="readonly" class="notepad-line-item new-task placeholder-input"></input>  
                        </li>
                    }
                </ul>
            </ul>

            <button class="btn notepad-button" type="submit">Save</button>
            <a asp-page="index" class="btn notepad-button">Back</a>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}