@page
@model IndexModel
@{
    ViewData["Title"] = "Projects";
}

<div class="projects-list-container">
    <ul class="projects-list">
        <li>This is halloween, halloween...</li>
        <li>This is halloween, halloween...</li>
        <li>This is halloween, halloween...</li>
        <li>This is halloween, halloween...</li>
        <li>This is halloween, halloween...</li>
        <li>This is halloween, halloween...</li>
        <li>This is halloween, halloween...</li>
        <li>This is halloween, halloween...</li>
    </ul>
</div>
