@page
@model IndexModel
@using ProjectsToDoList.Models
@{
    ViewData["Title"] = "Projects";
}

<div class="projects-list-container">
    <ul class="projects-list">
        @foreach (Project project in Model.Projects)
        {
            <li>@project.ProjectName</li>
        }
    </ul>
</div>
