@page
@model IndexModel
@using ProjectsToDoList.Models
@{
    ViewData["Title"] = "Projects";
}
@Html.AntiForgeryToken()

<div class="projects-list-container">
    <ul class="projects-list">
        @foreach (Project project in Model.Projects)
        {
            <li>
                <span class="project-name">@project.ProjectName</span>    
            </li>
        }

        <li>
            <div class="project-name faded-text" contenteditable="true" id="create-new-project">Quick create...</div>
        </li>

        @for(Int32 count = Model.Projects.Count() + 1; count < Model.PageSize; count++)
        {
            <li>
                <span class="project-name"></span>    
            </li>
        }
    </ul>

    <button class="create-new">Create New</button>
</div>
